body {
		background-color: lavender;
}

h1 {
	margin: 30px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
}

img {
	width: 100%;
}

.container {
	width: 968px;
	margin: 20px auto;
	display: flex;
}

.elemento {
    width: 300px;
    height: 300px;
    margin: 0px 10px;
    position: relative;
}

.tituloElemento {
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: crimson;
    color: white;
    font-size: 23px;
    font-family: monospace;
    padding: 6px;
    font-weight: 600;
    width: 288px;
}

.contenidoElemento {
    font-family: monospace;
    font-size: 20px;
    width: 270px;
    margin-left: 24px;
	margin-top: 38px;
}

a {
	text-decoration: none;
	color:white;
}